// 颜色定义规范
$color-main-background = #050505
$color-header-background = #4C4C4C
$color-header-text = #dbdbdb
$color-active = #409EFF
$color-tool-background = #34343a

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 20px

